body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

header img.logo {
  margin-right: 20px;
  width: 70px;
}

header nav {
  margin-left: 20px;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

fieldset {
  text-align: center;
  border-radius: 20px;
  width: auto;
  padding: 50px 50px 50px 50px;
}

#b_accedi {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
}

#auth_form input[type=number] {
  border-radius: 5px;
  border-color: lightgray;
}

#auth_form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.error {
  border: 2px solid red;
  background-color: lightcoral;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.warning {
  border: 2px solid yellow;
  background-color: lightyellow;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.success {
  border: 2px solid green;
  background-color: lightgreen;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 0.5s step-end 5;
}